/*Estilo del Body-----------------------------------------------------------------*/
body {
    float:left;
    background-image: url(../Images/body.png);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #808080;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    float:initial;
}
/*Estilos del contenido central-----------------------------------------------------------*/

.presentacion {
    width: 80%;
    font-size: 30px;
    font-family: 'Sitka Banner';
    margin:100px auto 0px auto;
    text-align: center;
    flex-flow: column;
    color: #000000;
    justify-content: center;
    align-items: center;
}

    .presentacion h3 {
        padding: 5px;
        color: #000000;
        justify-content: center;
        align-items: center;
    }

/* Estilos del Header-----------------------------------------------------------*/
header {
    width: 100%;
    max-width: 2000px;
    font-family: 'Sitka Banner';
    display: flex;
    background-image: url(../Images/header1.png);
    background-repeat: no-repeat;
    /*height: 300px;*/
    justify-content: space-between;
    /*align-items: center;*/
}
    header img {
        /*max-height: 300px;*/
        width: 100%;
        object-fit: cover;
        opacity: 0.9;
    }

/*header img{
        height: 200px;
    }*/

.logo img {
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.logo {
    font-weight: 600;
    font-size: 24px;
    padding: 5px;
/*    align-items: center;*/
    display: flex;
    margin: 10px;
}
/*Estilos del Menu de Navegacion---------------------------------------------------*/
nav a {
    display: flex;
    float: right;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 30px;
}

nav {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    
}
  
        nav li {
        list-style: none;
    }

    nav ul {
        
        display: flex;
        gap: 20px;
    }
/*EStilo del Menu Ofertas-----------------------------------------------------------*/

.ofertas{

    margin: 20px;
    font-size: 14px;
    color: #000000;
    padding: 10px;
}


/*Estilos del Footer----------------------------------------------------------------*/
#piepagina {
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.arriba img {
    /* margin: 0,50px;*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 20px;
    display: flex;
    float: left;
    border-radius: 50%;
}
/*Estilos de la pagina Productos------------------------------------------------*/

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.titulo-productos {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #000000;
}
    .titulo-productos:hover {
        max-height: 50px;
        color: #000000;
        text-decoration: none;
        box-shadow: 3px 3px grey;
    }
.titulo {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    
}
/*--------------------------------------------------------------------*/
.carrusel {
    position: relative;
    width: 100%;
    max-width: 99%;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    align-content: center;
    margin:100px auto 0px auto;
}

.elementos {
    display: flex;
    width: 100%; /* 4 imágenes -> 100% x 4 */
    animation: slide 30s infinite;

}

    .elementos img {
        width: 50%;
        object-fit: cover;
        justify-content: center;
    }
#img1 div {
    bottom: auto;
    position: absolute;
    width: 300px;
}
#img1 {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}
#img1 {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}
#img1 {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}
#img1 {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}
#img1 {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}
#img1 {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}
#img1 {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}
#img1 {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}
#img1 {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}
#img1 {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}



@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0%);
    }
}



/*--------------------------------------------------------------------*/

.frutas-verduras {
    background-color: white;
    box-shadow: 1px 1px 10px grey;
    padding: 5px;
    border: none;
    border-radius: 18px;
    width: 10%;
    height: auto;
    margin: 10px;
}
    .frutas-verduras img {
        width: 100%;
        height: auto;
        border-radius: 18px;
        padding: 5px, 5px;
    }
.carnes-pescados {
    background-color: white;
    box-shadow: 1px 1px 10px grey;
    padding: 5px;
    border: none;
    border-radius: 18px;
    width: 10%;
    height: auto;
    margin: 10px;
}
.carnes-pescados img {
    width: 100%;
    height: auto;
    border-radius: 18px;
    padding: 5px, 5px;
}
.almacen {
    background-color: white;
    box-shadow: 1px 1px 10px grey;
    padding: 5px;
    border: none;
    border-radius: 18px;
    width: 10%;
    height: auto;
    margin: 5px;
}
    .almacen img {
        width: 100%;
        height: auto;
        border-radius: 18px;
        padding: 5px, 5px;
}
.limpieza {
    background-color: white;
    box-shadow: 1px 1px 10px grey;
    padding: 5px;
    border: none;
    border-radius: 18px;
    width: 10%;
    height: auto;
    margin: 10px;
}
.limpieza img {
    width: 100%;
    height: auto;
    border-radius: 18px;
    padding: 5px, 5px;
} 
/*Estilos del Formulario contacto*/
.contacto {
    background: #fff;
    max-width: 350px;
    margin: 50px auto;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0, 0.3);
}
    .contacto h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }
.formulario label {

    display: block;
    margin-bottom: 6px;
    color: #555;
}

.formulario input {
   
    background-color: #a6dbf3;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}
.formulario textarea {
    max-width: 100%;
    min-width: 350px;
    max-height: 400px;
    min-height: 50px;
    background-color: #a6dbf3;
    border-radius: 4px;
}

.formulario button {

    width: 100%;
    padding: 10px;
    background: #0078d7;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.2s;
}
.formulario button:hover {
            background: #00ff90;
        }


    